[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pycryptodome = "*"
beautifulsoup4 = "*"
pyyaml = "*"
hitutil = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3"
